/** Configured For Applets **/

configuration {
  theme: "~/.cache/wal/colors-rofi-dark.rasi";
  show-icons:         true;
  font: "Fira Sans 10";
  icon-theme:         "Oomox-21";
  location: 5;
  yoffset: -50;
  xoffset: -20;
}
